# ignore all but these files
*
!.gitignore
!README.markdown

!.vim/
!.vim/**
.vim/bundle/
!.vimrc

!.bashrc
!.bash_aliases
!.profile
!.Xresources

!.config/

!.config/i3/
!.config/i3status/

!.config/lxsession/
!.config/lxsession/**
!.config/openbox/
!.config/openbox/**

!.tmux.conf

!bin
!bin/**
