# configs
*
!.gitignore

!.vim/
!.vim/**
!.vimrc

!.bashrc
!.profile
!.Xresources

!.config/

!.config/i3/
!.config/i3status/

!.config/lxsession/
!.config/lxsession/**
!.config/openbox/
!.config/openbox/**
